@charset "UTF-8";

:root {
    --blue1: rgb(41, 50, 184);
    --blue2: rgb(105, 111, 196);
    --gray1: rgb(198, 194, 194);
    --gray2: rgb(239, 242, 249);
    --inputBorder: 1px solid #2809843e;
    --focusBoxShadow: 0 0 0 0.25rem #2809843e;
}

body,
html {
    background-color: var(--gray2);
}

.box {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.346);
}

/*Hidden collum for smaller screens*/
@media only screen and (max-width: 568px) {
    .box {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: white;
        padding: 20px 10px 20px 10px;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.346);
    }
}

div#hForm {
    border: 2px solid var(--blue1);
    background-color: white;
    border-radius: 5px;
    height: 55px;
    padding: 5px;
    margin: 5px 0;
}

div#header1 {
    width: 100%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2px;
}

section#info {
    border: 2px solid var(--blue1);
    background-color: white;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

div#legend {
    font-size: 10px;
    color: var(--blue1);
}

i.iconl {
    margin-left: 20px;
}

section.insp {
    background-color: var(--blue1);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 5px;
    margin: 5px 0;
}

.form-floating :is(input, textarea, select):required + label::before {
    content: "*";
    color: #dc3545; /* Bootstrap's default danger color */
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

input,
select {
    border: var(--inputBorder);
    border-radius: 2px;
    padding: 0px 3px;
}

input[type="file"] {
    border: none;
    cursor: pointer;
    width: 100%;
}

.custom-file-upload {
    margin: 5px 0px 0px 0px;
}

section.element {
    background-color: var(--blue2);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    margin: 3px 0px 5px 0px;
    padding: 5px;
}

section.item {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    height: auto;
    padding: 5px;
    width: 100%;
    margin: 5px 0px;
}

section.ask {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    height: auto;
}

div.lab {
    width: 76%;
    float: left;
}

div.opt {
    color: var(--gray1);
    float: right;
}

input.medido {
    width: 48px;
    height: 23px;
    padding: 3px;
}

table.med,
table.med > th {
    text-align: left;
}

table.med {
    height: 80px;
}

table {
    font-size: 15px;
}

/*Hidden collum for smaller screens*/
@media only screen and (max-width: 768px) {
    #orders_list th:nth-child(3),
    #orders_list tr td:nth-child(3) {
        display: none;
    }
}

/*Hidden collum for smaller screens*/
@media only screen and (max-width: 768px) {
    #notes_list th:nth-child(3),
    #notes_list tr td:nth-child(3) {
        display: none;
    }
}

.resp-table {
    overflow-x: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
    -moz-osx-font-smoothing: grayscale;
}

section.obs {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
    height: auto;
    width: 100%;
    margin-top: 5px;
}

textarea {
    border-color: #2809843e;
    box-sizing: padding-box;
    border-radius: 2px;
    overflow: hidden;
    display: block;
    padding: 2px;
    width: 100%;
}

textarea:focus,
input:focus,
select:focus {
    border: var(--inputBorder);
    outline: 0;
    box-shadow: var(--focusBoxShadow);
}

.signature-pad {
    cursor: pointer;
    margin: auto;
}

.signature-button {
    margin-right: 15px;
    text-decoration: none;
}

div.infoTec {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    width: 100%;
    margin: 5px 0px;
}

.itec {
    width: 75%;
    float: right;
    height: 23px;
    margin: 2px 0px;
}

label.ltec {
    float: left;
    width: 24.5%;
    height: 23px;
    margin: 2px 0px;
}

label.equip {
    float: left;
    width: 100px;
    height: 23px;
    margin: 2px 0px;
}

.horario {
    float: left;
    width: 24.5%;
    height: 23px;
    margin: 2px 0px;
}
div.itInfTec {
    margin: 8px 0px;
    height: 23px;
}

div.signature {
    margin: auto;
    text-align: center;
}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin[type=number] {
  -moz-appearance: textfield;
}

/* Remove o arredondamento apenas em telas maiores que 768px (Desktop) */
@media (min-width: 768px) {
    .first-group-btn {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .mid-group-btn {
        border-radius: 0 !important;
        /* Evita borda dupla no meio */
        border-left: none !important;
        border-right: none !important;
    }

    .last-group-btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

/* Quando o collapse está ABERTO, o botão NÃO tem a classe .collapsed */
#permissoes .btn-outline-primary:not(.collapsed) {
    background-color: #1b0363ff; /* Cor primária do Bootstrap */
    border-left-color: #fff;
    border-right-color: #fff;   
    color: #fff;               /* Texto branco */
}

/* No celular, mantemos o arredondamento padrão do Bootstrap */
