@charset "UTF-8";

/*
paleta de cores
azul #123251
cinza #B8B8B8
dourado #BF9447
gelo #EFEEEC
*/

:root {
    --blue1: #e2eaee;
    --blue2: rgb(105, 111, 196);
    --gray1: rgb(198, 194, 194);
    --gray2: rgb(241, 234, 234);
    --width: 760px;
    /*--inputBorder:1px solid #2809843e;
  --focusBoxShadow: 0 0 0 .25rem rgba(13,110,253,.25);*/
}

* {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: auto;
    padding: 10px;
    margin: auto;
}

div#buttonGroup {
    width: 770px;
    margin: auto;
    flex-direction: row;
    display: flex;
    margin-bottom: 20px;
}

div#files {
    width: 770px;
    margin: auto;
}

section#print {
    margin: 10px;
    width: 770px;
    margin: auto;
}

div#header {
    margin: 15px 0px;
    height: 108px;
}

div#header1 {
    padding-top: 20px;
    float: left;
    width: 70px;
}

div#header2 {
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 302px;
}

div#header3 {
    text-align: center;
    float: right;
    font-size: 17px;
    font-weight: bold;
}

div#osId {
    text-align: center;
    font-size: 25px;
    color: rgb(211, 21, 21);
}

div#emergency {
    margin: 5px 0px;
    text-align: center;
    font-size: 16px;
    color: rgb(211, 21, 21);
}

div.Info {
    margin: 5px 0px;
    font-size: 15px;
}

.center {
    text-align: center;
    float: none;
}

.FirstInfoLine {
    height: 22px;
    width: 100%;
    overflow-wrap: break-word;
    border-radius: 6px 6px 0px 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.InfoLine {
    height: 23px;
    width: 100%;
    overflow-wrap: break-word;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.LastInfoLine {
    height: 23px;
    width: 100%;
    overflow-wrap: break-word;
    border: 1px solid black;
    border-radius: 0px 0px 6px 6px;
}

.InfoFirstCollum {
    overflow: hidden;
    padding: 0 6px 0 6px;
    float: left;
    height: 22px;
    width: 100%;
}

.InfoTitle {
    overflow: hidden;
    padding: 0 6px 0 6px;
    text-align: center;
    height: 22px;
}

.InfoCollum {
    overflow: hidden;
    padding: 0 6px 0 6px;
    float: left;
    height: 22px;
    border-left: 1px solid black;
}

.LongText {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.bg-t {
    background-color: var(--blue1);
}

table {
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* table.w3-half {
    width: 375;
} */

.w3-striped tbody tr:nth-child(even) {
    background-color: #ececf8;
}

table.z tr:nth-child(odd) {
    background-color: #fff;
}

table.z tr:nth-child(even) {
    background-color: #f0f0f3b2;
}

.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
    background-color: #ccc;
}

.w3-centered tr th,
.w3-centered tr td,
thead,
th {
    text-align: center;
}

table th {
    overflow: hidden;
    background-color: var(--blue1);
    border-right: 1px solid black;
    border-top: none;
    border-bottom: 1px solid black;
}
table td {
    overflow: hidden;
    border-right: 1px solid black;
    padding-left: 5px;
}

tr {
    border-bottom: 1px solid black;
}

.b-t {
    overflow: hidden;
    border: 1px solid black !important;
    border-radius: 6px;
    margin: 15px 0px 0px;
}

.b-half-table {
    overflow: hidden;
    border: 1px solid black !important;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: -1px;
}

.page-info {
    text-align: right;
    margin-top: 10px;
}

.page-number {
    margin: 10px 0px;
    float: right;
    font-size: 16px;
    color: #3b3939;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 0.5px solid #ccc;
}

.photo-item {
    width: 33.33%;
    height: 360px; /* Sua altura definida */
    border: 0.5px solid #ccc;
    box-sizing: border-box;
    /* Transformando em flex para alinhar o conteúdo verticalmente */
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.image-wrapper {
    flex: 1; /* Ocupa todo o espaço disponível no topo */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.file-subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-top: 5px;
    border-top: 0.1px solid #eee; /* Opcional: uma linha sutil para separar */
    width: 100%;

    /* Garante que fique na base */
    margin-top: auto;
    word-break: break-all; /* Evita que nomes longos quebrem o layout */
}
